body {
  margin: 0px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f7f7f7;
}

p, h3 {
  margin: 0px;
}

a {
  text-decoration: none;
}

.cabecalho   {
  text-align: center;
  margin-top: 80px;
}

.cabecalho-menu {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 60px;
  justify-content: center;
}

.cabecalho-menu a {
  color: black;
  background-color: #fff;
  padding: 10px 20px;
  text-transform: uppercase;
  font-weight: bold;
}

.cabecalho-menu a:hover {
  transition: 0.3s;
  box-shadow: inset 0 0 0 2px #ee2211; 
  outline: none; 
}


main {
  margin: 0 auto;
  margin-top: 60px;
  margin-bottom: 120px;
  max-width: 1000px;
}

.conteudo {  
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  background-color: #fff;
}

.conteudo-principal-escrito {
  justify-content: center;
  text-align: end;
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: end;
}


.conteudo-principal-escrito h1{
  font-size: 1.87rem;
}


.conteudo-principal-escrito p {
  width: 400px;
  font-size: 1.25rem;
}

.conteudo-img {
  position: relative;
}

.conteudo-img::before {
  content: "";
  position: absolute;
  display: block;
  height: 5px;
  width: 70px;
  left: -30px;
  top: 30px;
  background-color: #ee2211;
}

.conteudo-img-bike {
  max-width: 100%;
  display: block;
  object-fit: cover;
  height: 100%;

}

.botao-ver-mais {
  background-color: #ee2211;
  color: #f7f7f7;
  padding: 15px 30px;
  display: inline-block;
  border-radius: 4px;
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 30px;
}

.botao-ver-mais:hover {
  transition: 0.3s;
  background-color: #bb1e0f;
}

.conteudo-secundario {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  background: url(img/onda.svg);

}

.vantagens-subtitulo {
  text-wrap: wrap;
  font-size: 4rem;
  text-align: end;
  color: #c6c6c6;
  align-self: center;
}

.vantagens-lista {
  background-color: #fff;
  padding: 40px;
}

.vantagens-lista .vantagens-item:nth-child(odd) {
  background-color: #f7f7f7;
}

.vantagens-item {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 10px 20px;
  padding: 20px;
  border-left: 4px solid transparent;  
}

.vantagens-item:hover {
 border-color:  #ee2211;  
}

.vantagens-item p {
  grid-column: 2;
}


.rodape {
  font-weight: bold;
  text-align: center;
  background-color: #fff;
  padding: 20px;
  margin-bottom: 0px;
}

@media(width <= 800px) {

  .cabecalho   {
    margin-top: 20px;
  }

  .cabecalho-menu {
    gap: 10px;
    margin-top: 30px;
  }
   
  .conteudo {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  }

  main {
    margin-top: 30px;
    margin-bottom: 20px;
  }

  .conteudo-principal-escrito {
    text-align: center;
    align-items: center;
  }

  .botao-ver-mais {
    width: 200px;
  }

  .conteudo {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  }


  .conteudo-img::before {
    display: none;
  }
  .conteudo-secundario {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  }

  .vantagens-subtitulo {
    text-wrap: wrap;
    font-size: 3rem;
    text-align: center;
  }
  

}

